
body{
    background-color:#E0E0E0;
   width: auto;
    height: auto;
    margin: 0;
    padding: 0;


}
.logo img {
    width: 150px;
    height: 150px;
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 20px;
    color:white;
    margin-left: 20px;
   
   
}


    

/* Navigation */
nav{
    padding-left: 300px;
    margin-top: -180px;
   background-color: ;
   width: 100%;
   height: 100px;
   justify-content: center;
 
}
nav ul
{
    list-style-type: none;
    display: flex;
justify-content: center;
width: 100%;
height: 100px;
align-items: center;
}

nav li
{
    margin-right: 100px;
}

nav a
{
    font-size: 1.3em;
    color: #222020;
    text-decoration: none;
    border-color: black;
    text-transform: uppercase;
   
}
.photos a {
    color: #e7a0a0fd;
}
nav a:hover
{
    color: #c5babb;
    border-bottom: 3px solid #3f3d3d;
}
/*footer*/

.fin{
    color: #e0b7b7;
    text-align: center;
    font-size: 50px;
    padding: 40px 20px 10px;
    font-family: initial;
    text-transform: uppercase;
    
}
.fin:hover{

    
    text-shadow: 0 0 5px #fff,
    0 0 1px #fff,
    0 0 1px #e6d6d6c0,
    0 0 1px #e6d6d6c0,
    0 0 10px #e6d6d6c0
    ;
}

footer{
    display: flex;
    justify-content: center;
border: 4px;
border-color: #f1f1f1;


}
.footer-contenue {
    
    margin-bottom: 10px;
    padding-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
   
}

.footer-contenue h3 {
   color: #b47474c0;
   font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


img{
    max-width: 100%;
    height: auto;
    vertical-align:middle ;
    display: inline-flex;

}
.galery div{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.galery div img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    padding-left: 5px;
    margin-left: 7px;
    margin-bottom: 50px;
}

